.MuiDrawer-root {
    z-index: 9000 !important;
}

.infoContainer {
    padding-bottom: 115px;
    padding: 30px;
    padding-bottom: 60px;
    .infoContainerFlex {
        display: flex;
        .containerInfoDeux {
 
            min-height: 31px;
            color: #000;
            text-align: center;
            font-family: "Source Sans 3", sans-serif;
            font-size: 10px;
            font-style: normal;
            font-weight: 600;
            line-height: 11px;
            display: flex;
            align-items: center;
            padding-left: 19px;
            padding-right: 19px;
            &.past {
                background: rgba(0, 0, 0, 0.10);
            }
          
            &.future {
                background: #92C136;
            }
          
            &.today {
              // Styles pour l'état "Aujourd'hui"
            }
        }
    }
    .tagsContainer {
        display: flex;
        align-items: center;
        background: #FFED00; 
        width: fit-content;
        padding-left: 4px;
        min-height: 31px;
        span {
            font-family: "Londrina Solid", sans-serif;
            color: #000;
            font-family: "Londrina Solid";
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 11px; /* 61.111% */
            letter-spacing: 0.9px;
            text-transform: uppercase; 
        }
    }
    h2 {
        margin: 0;
        padding-bottom: 30px;
        color: #1D1D1B;
        font-family: "Source Sans 3", sans-serif;
        font-size: 40px;
        font-style: normal;
        font-weight: 600;
        line-height: 110%;
        padding-top: 25px;
    }
    .infoArticleContainerContent {
        background: rgba(29, 29, 27, 0.10);
        color: rgba(29, 29, 27, 0.50);
        margin-top: 10px;
        margin-bottom: 10px;
        
        padding: 5px;
        font-family: "Source Sans 3", sans-serif;
        font-size: 14.352px;
        font-style: normal;
        width: fit-content;
        font-weight: 600;
        line-height: 15.788px; 
    }

    .infoArticleContainerLesInfos {
        background: #FF4B56; 
        display: flex;
        padding: 19px 25px 19px 25px;
        color: #FFF;
        font-family: "Source Sans 3", sans-serif;
        font-size: 15px;
        font-style: normal;
        font-weight: 600;
        line-height: 16px; 
        .infoArticleContainerDate {
            width: 50%;
            display: flex;
            align-items: center;
            svg {
                margin-right: 10px;
            }
        }
        .infoArticleContainerLieu {
            width: 50%;
            display: flex;
            align-items: center;
            svg {
                margin-right: 10px;
            }        
        }
    }
    .infoArticleCommentaire {
        padding-top: 20px;
        color: #1D1D1B;
        font-family: "Source Sans 3", sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal; 
    }
    .infoArticleLien {
        padding-top: 40px;
        a {
            display: block;
            width: 100%;
            border-radius: 10px;
            background: #FFED00; 
            text-align: center;
            color: #000; 
            font-family: "Source Sans 3", sans-serif;
            font-size: 16px;
            font-style: normal;
            padding-top: 20px;
            padding-bottom: 20px;
            font-weight: 600;
            line-height: 0;
        }
    }

    .buttonNext {
        position: absolute;
        top: 50%;
        cursor: pointer;
        right: -80px;
        background-color: unset;
        border: unset;
        transition: all 0.3s;
        z-index: 9000;
        svg {
            .buttonNextPath {
                transition: all 0.3s;
            }           
        }
        &:hover {
            svg {
                .buttonNextPath {
                    fill: #FFEB81;
                    transition: all 0.3s;
                }
            }
        }
    }
}


@media (max-width: 992px) {
    .infoContainer {
        padding-right: 10px;
        .titleContainer {
            h2 {
                font-size: 30px;
            }
        }
    }
}