footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9001;
    padding-top: 8px;
    padding-bottom: 8px;
    background: #FFED00; 
    .footerUn {
        display: flex;
        padding-left: 20px;
        align-items: center;
        svg {
            height: 24px;
            width: auto;
        }
        .footerUnMiddle {
            padding-left: 20px;
            padding-right: 20px;
        }
        p {
            margin: 0;
            color: #000;
            font-size: 12px;
            font-style: normal;
            padding-left: 20px;
            font-weight: 600;
            line-height: normal; 
            font-family: "Source Sans 3", sans-serif;
        }
        span {
            margin: 0;
            color: #000;
            font-size: 12px;
            font-family: "Source Sans 3", sans-serif;
            font-style: normal;
            font-weight: 400;
            padding-left: 11px;
            line-height: normal;             
        }
    }
    .footerDeux {
        display: flex;
        padding-right: 20px;
        a {
            padding-left: 20px;
            color: #000; 
            font-family: "Source Sans 3", sans-serif;
            font-size: 10px;
            font-style: normal;
            font-weight: 600;
            text-decoration: none;
            line-height: normal; 
        }
    }
}

@media (max-width: 992px) {

}